@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

$bg: #e0f2f1;
$surface: #b2dfdb;
$fg: #000000;
$grey: #aaaaaa;
$red: #b71c1c;
$orange: #e65100;
$yellow: #f57f17;
$green: #1b5e20;
$blue: #0d47a1;
$purple: #311b92;
$disabled: #444444;

$fonts: 'Alegreya Sans', 'Helvetica Neue', Arial, sans-serif;

.cfore { color: $fg; }
.cback { color: $bg; }
.cgrey { color: $grey; }
.cxred { color: $red; }
.corag { color: $orange; }
.cyelo { color: $yellow; }
.cgren { color: $green; }
.cblue { color: $blue; }
.cprpl { color: $purple; }
.cdbld { color: $disabled; }

body {
    background-color: $bg;
    /* background: repeating-linear-gradient(
        -45deg,
        white,
        white 10px,
        $bg 10px,
        $bg 20px
    ); */
    color: $fg;
    padding: 25px;
    font-family: $fonts;
    font-size: large;
}

.wraps {
    max-width: 825px;
    margin: auto;
}

.lists {
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    color: $fg;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 1px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    width: calc(100% - 30px);
    border-top: 2px solid $fg;
}

a {
    color: $fg;
}

code {
    font-family: $fonts;
}

hr {
    border: 1px solid $fg;
}

.sfont {
    font-weight: 400;
    font-style: italic;
}

.sname {
    font-size: 32pt;
    font-weight: 400;
}

.fnote {
    font-size: medium;
}

//.ccbut {
//    filter: invert(1);
//}

.ccbut:hover {
    cursor: default;
}

.ccbut img:hover {
    cursor: help;
}

.parag {
    color: $fg;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    text-align: justify;
}

.butts {
    background-color: $surface;
    color: $fg;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    width: calc(100% - 30px);
    transition-duration: 0.3s;
    border-radius: 5px;
}

.butts:hover {
    background-color: $fg;
    color: $bg;
}

.bicon {
    float: right;
}

.heads {
    width: calc(100% - 30px);
    font-size: xx-large;
}

.hdimg {
    width: 32px;
    height: 32px;
}

.plink {
    background-color: $surface;
    color: $fg;
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: calc(100% - 30px);
    transition-duration: 0.3s;
}

.plink:hover {
    background-color: $fg;
    color: $bg;
}

.ntice {
    background: repeating-linear-gradient(
        -45deg,
        $yellow,
        $yellow 10px,
        $orange 10px,
        $orange 20px
    );
    color: white;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: calc(100% - 30px);
    //border-bottom: 2px solid $fg;
    border-radius: 5px;
    text-align: center;
}
